
table {
    margin: auto;
}

div td {
    width:   100px;
    height: 100px;
    background: teal;
    font-size: 3rem;
    font-family: 'Times New Roman', serif;
    text-align: center;
}    
 
div td:hover {
    background: silver;
}

td {
    
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, sans-serif;
}

footer {
    font-size: 1.5em;
    margin-top: 5px;
    text-align: center;
}

#table1 {
    margin-bottom: 20px;

}

#animation-anchor:hover {
    animation-name: expand;
    animation-duration: 5s;
}
@keyframes expand {
    0% {
        color: red;
        font-size: 2em;
        border: 3px groove red;
    }
    50% {
        color: yellowgreen;
        font-size: 3.5em;
    }
    75% {
        color: mediumslateblue;
        font-size: 0.5em;
    }
    100% {
        color: orange;
        font-size: 1.2em;
    }
}
.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.yellow-border {
    border: 5px solid yellow;
}