#table1 {
    margin-bottom: 20px;

}

table {
    margin: auto;
}

div td {
    width:   100px;
    height: 100px;
    background: teal;
    font-size: 3rem;
    font-family: 'Times New Roman', serif;
    text-align: center;
}    
 
div td:hover {
    background: silver;
}

td {
    
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, sans-serif;
}

footer {
    font-size: 1.5em;
    margin-top: 35px;
    text-align: center;
}
.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.yellow-border {
    border: 5px solid yellow;
}