.winner {
    color: aqua;
}
html, body {
    margin: 0;
    height: 100%;
    border: 1px dotted darkgoldenrod;
}

body:hover {
    background-color: white;
}
#mouse {
    margin: 50px auto;
    border: 1px solid blue;
    background: lightgreen;
    text-align: center;
    height: 105px;
    width: 200px;
}